#body {
	background-color: #E0D1C2;
	margin: 0px;
}

.jumbotron {
	background-image: url(/images/redbrick.jpg);
	height: 265px;
	width:100%;
	background-repeat: no-repeat;
	margin-bottom: 0px;
	
	background-size: cover;
}

/*.jumbotron .container {
	display: table;
	vertical-align: middle
}

.jumbotron .container img {
	display: table-cell;
	vertical-align: middle
}*/

.banner-text {
	color: white;
	vertical-align: middle;
	font-size:small;
}

.banner-text h1 {
	font-family: 'IM Fell English', serif;
	vertical-align: middle;
	text-align: center;
	font-size: small;

}

.nav {
	font-weight:bold;
	margin-bottom:0px;
	background-color: rgb(85,25,25);
	height: 70px;
	line-height: 64px;
}

.nav ul{
	list-style: none;
	margin:0px;
	padding:0px;
	width:100%;
}

.nav li {
	margin:0px;
	text-transform: uppercase;

}

.nav li a {
	padding:25px;
	text-decoration: none;
	font-weight:bold;
	color:white;
	background-color: rgb(85,25,25);
	/*float:left;*/
}

.footer-container {
	text-align: center;
}
.headline {
	text-align: center;
}

.form-container {
	margin-left: 10%;
}



.meatballs {
	margin-top: 9rem;
	border: 2px solid #666666;
}


.img-slide-container {
	text-align: center;
}

.slide-img {
	border: 2px solid #292929;
}

.slider-nav-buttons {
	text-align: center;
}

.slide {
	display: none;

}

.active-slide {
	display: block;
}

.slide-dot-ul {
	list-style: none;
	display:inline-block;
	padding: 0;
}

.slider-arrow {
	display:inline-block;
	position: relative;
	top: 5px;
	color:#666666;

}

.dot {
	display: inline-block;
	padding: 4px;

}

.active-dot{
	color:red;

}

.home-header {
	font-family: 'IM Fell English', serif;
	text-align: center;
	margin-top: 50px;
}
/*This is the query css ________________________________________*/
@media screen and (max-width: 450px) {
    #body {
        background-color: #E0D1C2;
    }
 .nav {
	font-weight:bold;
	margin-bottom:0px;
	background-color: rgb(85,25,25);
	height: 150px;
	line-height: 64px;
}

.nav ul {
	list-style: none;
	margin:0px;
	padding:0px;
	width:100%;
}

.nav li {
	margin:0px;
	text-transform: uppercase;

}

.nav li a {
	padding:25px;
	text-decoration: none;
	font-weight:bold;
	color:white;
	background-color: rgb(85,25,25);
	/*float:left;*/
}
.banner-text h1 {
	font-family: 'IM Fell English', serif;
	vertical-align: middle;
	text-align: center;
	font-size: x-large;
}
 .banner-text {
	color: white;
	vertical-align: middle;
	
}
img {
	height:13rem;
	width:auto;
	margin-right: auto;	
	margin-left: auto;
}
.nav {
	text-align: center;
}
}
/*##_______________________Erins Code_______________________________*/
.menu-details {
	font-size: 12px;
	font-style: italic;
}
.menu-section-title {
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	color: white;
	background-color: darkred;
	padding: 4px 0px;
}
.menu-wrapper {
	clear: both;
	border: black solid 2px;
	width: 900px;
	margin: 0 auto;
	background-color: white;
}
.menu-offerings {
	border: black solid 2px;
}
.menu-items {
	list-style-type: none;
	font-size: 16px;
	text-align: center;
	text-indent: 0px;
}
.food-photos {
	float: left;
	padding: 10px 10px;
}
.food-gallery {
	width: 900px;
	margin: 0 auto;
	padding: 0px 30px;
}
.price {
	font-size: 14px;
	color: darkred;
}
.menu-categories {
	list-style-type: none;
	position: fixed;
	font-weight: bold;
	text-transform: uppercase;
	background-color: black;
	color: white;
	font-size: 16px;
	opacity: 0.75;
	padding: 5px 5px;
}
.menu-nav:link, .menu-nav:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
}
.menu-nav:hover, .menu-nav:active {
	color: darkred;
	text-decoration: none;
}




