

<div class="row">
	<div class="col-md-6">
		<div class="form-container">
			<h3>We'd love to hear from you!</h3>

			<form action="/contact" method="POST">
				<label for="email">Email</label>
				<br>
				<input type="text" name="email" size="30">
				<br>
				<br>
				<label for="message">Message</label>
				<br>
				<textarea type="text" name="message" rows="15" cols="45"></textarea>
				<br>
				<br>
				<input class="submit-btn" type="submit">

			</form>
		</div>
	</div>
	<div class="col-md-6 vcenter">
		<div class="contact-img-container">
			<img class="meatballs" src="/images/meatballs.jpg" height="350px" width="auto">

		</div>
	</div>
</div>




