<h2 class="home-header">The Best Gravy in Town!</h2>

<div class="carousel">
	<div>
		<div class="slide active-slide">
			<div class="slide-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 img-slide-container">
						<img class ="slide-img" src="/images/vdrslide2.jpg">
					</div>
				</div>
			</div>
		</div>

		<div class="slide">
			<div class="slide-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 img-slide-container">
						<img src="/images/vdrslide1.jpg">
					</div>
				</div>
			</div>
		</div>

		<div class="slide">
			<div class="slide-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 img-slide-container">
						<img class="slide-img" src="/images/vdrslide3.jpg">
					</div>
				</div>
			</div>
		</div>

		<div class="slide">
			<div class="slide-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 img-slide-container">
						<img class="slide-img" src="/images/vdrslide4.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="slider-nav-buttons">
		
		<i class="fa fa-chevron-left fa-2x slider-arrow prev-arrow"></i>
	
		<ul class="slide-dot-ul">
			<li class="dot active-dot">&bull;</li>
			<li class="dot">&bull;</li>
			<li class="dot">&bull;</li>
			<li class="dot">&bull;</li>

		</ul>

		<i class="fa fa-chevron-right fa-2x slider-arrow next-arrow"></i>
	
	</div>



</div>












