<div class="menu-categories">
	<nav>
		<li><a class="menu-nav" href="#appetizers">Appetizers</a></li>
		<li><a class="menu-nav" href="#salads">Salads</a></li>
		<li><a class="menu-nav" href="#pasta">Pasta</a></li>
		<li><a class="menu-nav" href="#special-pasta">Special Pasta</a></li>
		<li><a class="menu-nav" href="#shrimp-seafood">Shrimp & Seafood</a></li>
		<li><a class="menu-nav" href="#sausage">Sausage</a></li>
		<li><a class="menu-nav" href="#veal">Veal</a></li>
		<li><a class="menu-nav" href="#chicken">Chicken</a></li>
		<li><a class="menu-nav" href="#steaks">Steaks</a></li>
		<li><a class="menu-nav" href="#sides">Sides</a></li>
	</nav>
</div>
<div class="food-gallery">
		<img class="food-photos" src="/images/clams-casino.jpg">
		<img class="food-photos" src="/images/salad.jpg">
		<img class="food-photos" src="/images/chicken-parm.jpg">
		<img class="food-photos" src="/images/spaghetti-meatballs.jpg">
		<img class="food-photos" src="/images/seafood-pasta.jpg">
		<img class="food-photos" src="/images/shrimp-scampi.jpg">
</div>
<div class="menu-wrapper">
	<div class="menu-offerings">
		<h2 id="appetizers" class="menu-section-title">Appetizers</h2>
		<ul class="menu-items">
			<li>Steamed Mussels, <span class="price">$10.95</span></li>
			<li>Shrimp Scampi, <span class="price">$9.95</span></li>
			<li>Fried Asparagus, <span class="price">$8.95</span></li>
			<li>Steamed Clams, <span class="price">$10.95</span></li>
			<li>Clams Casino, <span class="price">$6.95</span></li>
			<li>Garlic Bread, <span class="price">$3.95</span></li>
		</ul>
		<h2 id="salads" class="menu-section-title">Salads</h2>
		<ul class="menu-items">
			<li>Tossed, <span class="price">$3.50</span></li>
			<li>Villa Salad, <span class="price">(2) $8.95</span></li>
			<li>Roast Peppers & Tuna, <span class="price">(2) $9.95</span></li>
			<li>Roast Peppers & Anchovies, <span class="price">(2) $9.95</span></li>
		</ul>
		<h2 id="pasta" class="menu-section-title">Pasta</h2>
		<ul class="menu-items">
			<li>Spaghetti & Tomato Sauce, <span class="price">$10.95</span></li>
			<li>Spaghetti & Marinara Sauce, <span class="price">$10.95</span></li>
			<li>Spaghetti & Meat Balls, <span class="price">$14.95</span></li>
			<li>Spaghetti & Meat Sauce, <span class="price">$14.95</span></li>
			<li>Spaghetti & Mushroom Sauce, <span class="price">$14.95</span></li>
			<li>Spaghetti Oil & Garlic, <span class="price">$13.95</span></li>
			<li>Spaghetti & Oil <span class="menu-details">garlic & anchovies</span>, <span class="price">$14.95</span></li>
			<li>Spaghetti & Clams <span class="menu-details">red or white sauce</span>, <span class="price">$14.95</span></li>
			<li>Spaghetti & Shrimp, <span class="price">$16.95</span></li>
			<li>Spaghetti & Sausage, <span class="price">$15.95</span></li>
			<li>Side Order of Pasta, <span class="price">$5.95</span></li>
			<li>Ravioli & Tomato Sauce, <span class="price">$12.95</span></li>
			<li>Ravioli & Meat Balls, <span class="price">$16.95</span></li>
			<li>Lasagna, <span class="price">$13.95</span></li>
			<li>Manicotti, <span class="price">$13.95</span></li>
			<li>Baked Rigatoni, <span class="price">$14.95</span></li>
			<li>Baked Ziti Sicilian, <span class="price">$14.95</span></li>
			<li>Eggplant Parmigiana, <span class="price">$15.95</span></li>
			<li>Gnocchi, <span class="price">$13.95</span></li>
		</ul>
		<h2 id="special-pasta" class="menu-section-title">Special Pasta</h2>
		<ul class="menu-items">
			<li>Pasta Di Linguine <span class="menu-details">shrimp, clams, crab meat, mussels</span>, <span class="price">$19.95</span></li>
			<li>Linguine Abruzzi <span class="menu-details">abbruzzi sausage, mushrooms, peppers & onions in a light marinara sauce</span>, <span class="price">$16.95</span></li>
			<li>Spaghetti Mediterranean, <span class="price">$19.95</span></li>
			<li>Quattrocini Alfredo, <span class="price">$15.95</span></li>
			<li>Fettuccini Alfredo, <span class="price">$13.95</span></li>
			<li>Spaghetti <span class="menu-details">with tuna & shrimp</span>, <span class="price">$16.95</span></li>
			<li>Fettuccini Ricotta, <span class="price">$14.95</span></li>
			<li>Baked Ziti & Asparagus, <span class="price">$15.95</span></li>
			<li>Ziti Francis, <span class="price">$15.95</span></li>
		</ul>
		<h2 id="shrimp-seafood" class="menu-section-title">Shrimp & Seafood</h2>
		<ul class="menu-items">
			<li>Shrimp Scampi, <span class="price">$13.95</span></li>
			<li>Shrimp Scallopini, <span class="price">$15.95</span></li>
			<li>Shrimp Marsala, <span class="price">$18.95</span></li>
			<li>Lobster Francese, <span class="price">$23.95</span></li>
			<li>Lobster & Shrimp <span class="menu-details">with pasta</span>, <span class="price">$21.95</span></li>
		</ul>
		<h2 id="sausage" class="menu-section-title">Sausage</h2>
		<ul class="menu-items">
			<li>Broiled Sausage <span class="menu-details">with mushrooms, peppers & onions</span>, <span class="price">$15.95</span></li>
			<li>Sausage & Peppers, <span class="price">$15.95</span></li>
			<li>Sausage Cacciatore, <span class="price">$15.95</span></li>
			<li>Sausage Genovese, <span class="price">$16.95</span></li>
		</ul>
		<h2 id="veal" class="menu-section-title">Veal</h2>
		<ul class="menu-items">
			<li>Veal Parmigiana, <span class="price">$16.95</span></li>
			<li>Veal Parmigiana with Eggplant, <span class="price">$18.95</span></li>
			<li>Veal Scallopine, <span class="price">$18.95</span></li>
			<li>Veal Marsala, <span class="price">$17.95</span></li>
			<li>Veal Piccante with Capers, <span class="price">$17.95</span></li>
			<li>Veal Francese, <span class="price">$17.95</span></li>
			<li>Veal Bella Bucca, <span class="price">$19.95</span></li>
			<li>Veal Pizzaiola, <span class="price">$18.95</span></li>
			<li>Veal Chop <span class="menu-details">with mushrooms, peppers & onions</span>, <span class="price">$24.95</span></li>
			<li>Veal Domenic, <span class="price">$18.95</span></li>
			<li>Veal Sicilian, <span class="price">$19.95</span></li>
		</ul>
		<h2 id="chicken" class="menu-section-title">Chicken</h2>
		<ul class="menu-items">
			<li>Chicken Cacciatore, <span class="price">$15.95</span></li>
			<li>Chicken Lorriane, <span class="price">$15.95</span></li>
			<li>Chicken Neopolitan, <span class="price">$15.95</span></li>
			<li>Chicken Sicilian, <span class="price">$16.95</span></li>
			<li>Chicken Parmigiana, <span class="price">$15.95</span></li>
			<li>Chicken Marsala, <span class="price">$16.95</span></li>
			<li>Chicken Bella Bucca, <span class="price">$18.95</span></li>
			<li>Chicken Livers Romano, <span class="price">$14.95</span></li>
			<li>Chicken Livers Caruso, <span class="price">$14.95</span></li>
		</ul>
		<h2 id="steaks" class="menu-section-title">Steaks</h2>
		<ul class="menu-items">
			<li>Sirloin Steak <span class="menu-details">with mushrooms, peppers & onions</span>, <span class="price">$25.95</span></li>
			<li>Steak Pizzaiola, <span class="price">$26.95</span></li>
			<li>Steak Vermeil, <span class="price">$26.95</span></li>
			<li>Pepper Steak, <span class="price">$26.95</span></li>
			<li>Steak My Way, <span class="price">$27.95</span></li>
			<li>Villa Steak, <span class="price">$29.95</span></li>
		</ul>
		<h2 id="sides" class="menu-section-title">Sides</h2>
		<ul class="menu-items">
			<li>Spinach <span class="menu-details">oil & garlic</span>, <span class="price">$5.50</span></li>
			<li>Escarole <span class="menu-details">oil & garlic</span>, <span class="price">$5.50</span></li>
			<li>Broccoli Rabe, <span class="price">$7.95</span></li>
		</ul>
	</div>
</div>